
.note{
    background-color: rgba(0, 0, 0, 0.349);
    color: var(--color-palet-Bg-);
    width: calc(100% - 20px);
    margin: .2rem auto;
    padding: .5rem;
    font-family: poppins;
    font-size: .7rem;
    line-height: 1.4;
}
.note p span{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-palet-text-);
}

.sessionalData{
    font-family: poppins;
    text-transform: capitalize;
    
}

.form{
    font-family: poppins,serif;
    box-sizing: border-box;

}
.form fieldset{
    width: calc(100% - 20px);
    margin: 0 auto;
    border-radius: 1rem;
    padding:  0 0 .5rem 0;
}
.form fieldset button{
    margin: auto;
    display: block;
    padding: .6rem 2rem;
    border: none;
    background-color: var(--color-palet-text-);
    color: var(--color-palet-Bg-);
    border-radius: .8em;
    cursor: pointer;
}

.courseBlock p{
    text-align: center;
    padding: .4rem 0 0 0;
}
.courseBlock p span{
    text-transform: uppercase;
    padding: 0.5rem;
}

.sessionalData > h1{
    width: fit-content;
    margin: 0 auto;
    font-size: 1.5rem;
}

.RadioArea{
    position: relative;
    width: 3rem;
    height: 2rem;
    display: block;
    border-radius: .5rem;
    border:1px solid;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

}

.RadioArea input{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.RadioArea input:checked{
    background-color: var(--color-palet-type2-);
}

.form .input_field{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.form .input_field::before{
    content: "Year";
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyField{
    background-color: rgba(0, 0, 0, 0.096);
    padding:3rem 0 ;
    text-align: center;
    text-transform: capitalize;
    font-family: poppins,serif;
    color: rgba(255, 255, 255, 0.458);
}

.Sess_Element{
    font-family: poppins,serif;
    font-size: .6rem;
    background-color: var(--color-palet-type2-);
}

.Sess_Element header{
    box-sizing: border-box;
    padding: 1rem 2rem .5rem 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.formStudentupdation{
    box-sizing: border-box;
    border-radius: .5rem;
    padding: 1rem .8rem;
}

.formStudentupdation .input_field{
    height:  2rem;
    display: flex;
    justify-content: center;
    padding: .4rem ;
    font-family: poppins,serif;
    gap: .4rem;
}

.formStudentupdation .input_field input{
    width: 70%;
    border-radius: .5em;
    border: none;
    outline: none;
    box-shadow: 0px 0px 4px 0px;
    box-sizing: border-box;
    padding: .6rem;
}

.formStudentupdation button,.studentAddForm ul button{
    align-self: center;
    padding: .52rem .8rem;
    background-color: var(--color-palet-text-);
    color: var(--color-palet-type2-);
    font-weight: 600;
    margin: .5rem auto 0 auto;
    display: block;
    border-radius: .5rem;
    cursor: pointer;
}
.formStudentupdation .input_field label{
    align-self: center;
    color: var(--color-palet-text-);
    font-size: .8rem;
    max-width: 6rem;
    text-align: center;
    font-weight: 600;

}
.StudentDetailsField{
    background:linear-gradient(var(--color-palet-type2-) 10%, white);
    font-family: poppins,serif;
    text-transform: capitalize;
}

.stuHeading{
    display: flex;
    gap: 2.3rem;
    padding: .8rem 1.2rem .4rem 1.4rem;
    border-top: 2px solid var(--color-palet-type2-)
}

.studentList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    padding: .5rem 0;

}

.studentAddForm{
    width: calc(100% - 20px);

}

.studentAddForm ul{
    display: flex;
    list-style: none;
    box-sizing: border-box;
    padding: .4rem 1.4rem;   
    gap: 3rem; 
    align-items: center;
    width: (100% - 20px);
    border-radius: .34rem;
    box-shadow: 0px 0px 5px 0px;
    background-color: var(--color-palet-Bg-);
}

.studentAddForm ul button{
    margin: 0;
}

.studentAddForm li{
    height: fit-content;
    flex-shrink: .5;
    
}

.studentAddForm input{
    height: 2rem;
    background-color: transparent;
    border: none;
    width: 8rem;
    outline: none;
    font-family: poppins,serif;
    font-size: 1.1rem;

}